<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/show.css">
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>{{dog.name}}</h1>
    <button type="button" name="button">  <a href="home">Home</a></button>
    <button type="button" name="button"><a href="new">Create</a></button>


    <div id="dogs">

        <p id="dogAge">&nbsp;{{dog.age}} years old</p>
        <p id="dogDescription">Description:&nbsp;{{dog.description}}</p>
        <p id="dogPersonality">Personality:&nbsp;{{dog.personality}}</p>
        <br>
        <img id="dogPicture" src="{{dog.picture}}" alt="">

        <form action="/dogs/{{dog.id}}?_method=DELETE" method="post">
        <input type="submit" value="Delete this Dog">
        </form>
        <button type="button" name="button">  <a href="update">update</a></button>
        <!-- <form class="" action="/dogs/{{dog.id}}?_method=PATCH" method="post">
          <input type="submit" name="" value="Update this Dog"> -->
        </form>



    </div>



  </body>
</html>
