<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>{{dog.name}}</h1>
    <button type="button" name="button"><a href="home">Return to Home</a></button>
    <button type="button" name="button"><a href="new">Create A New One</a></button>

    <div id="dogs">

        <p id="dogAge">&nbsp;{{dog.age}} years old</p>
        <p id="dogDescription">Description:&nbsp;{{dog.description}}</p>
        <p id="dogPersonality">Personality:&nbsp;{{dog.personality}}</p>
        <br>
        <img id="dogPicture" src="/images/{{dog.picture}}" alt="No Picture Provided">

        <form action="/dogs/{{dog.id}}?_method=DELETE" method="post">
        <input type="submit" value="Delete this Dog">
        </form>
        <button type="button" name="button"><a href="/dogs/{{dog.id}}/update">Update this Dog</a></button>

    </div>



  </body>
  <link rel="stylesheet" href="/css/master.css">
</html>
